
/*
     FILE ARCHIVED ON 09:45:43 Nov 30, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:34:41 Apr 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.667
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 70.452
  LoadShardBlock: 132.571 (3)
  PetaboxLoader3.datanode: 88.583 (5)
  load_resource: 122.102 (2)
  PetaboxLoader3.resolve: 89.673 (2)
*/