
/*
     FILE ARCHIVED ON 17:00:55 Dec 02, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:29:08 Apr 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.402
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.006
  esindex: 0.006
  cdx.remote: 26.196
  LoadShardBlock: 49.108 (3)
  PetaboxLoader3.datanode: 139.826 (5)
  load_resource: 1380.945 (2)
  PetaboxLoader3.resolve: 1232.736 (2)
*/